<!--
<mat-toolbar color="accent">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        home
    </a>
  
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a
    *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon favorite-icon mr20" aria-label="Example icon-button with heart icon">
        Login
    </a>
    <a
    *ngIf="!isLoggedIn"
    routerLink ="/signup" mat-icon-button class="example-icon favorite-icon ml20" aria-label="Example icon-button with heart icon">
        Register !!
    </a> 

    <a
    *ngIf="isLoggedIn"
    routerLink="/admin/profile"
    mat-icon-button class="example-icon favorite-icon ml20" aria-label="Example icon-button with heart icon">
      {{ login.getUser().username }}
</a> 
    <a
    (click)="logout()"
    *ngIf="isLoggedIn"
     mat-icon-button class="example-icon favorite-icon ml20" aria-label="Example icon-button with heart icon">
        Logout !!
    </a> 


</mat-toolbar>

-->